/* Variables for easy customization */
:root {
    --light-pink: #fbe5e5;
    --coral: #ff7e7e;
    --white: #fff;
}

body {
    background-color: #f2f5f8;
    font-family: Arial, sans-serif;
 }
 
 header {
    background-color: #a6a8d2;
    color: white;
    text-align: center;
    padding: 1rem;
 }


header-content {
    display: flex;
    align-items: center;
 }

h1 {
   color: #a6a8d2
}

 .logo {
    margin-right: 10px;
 }

 .logo-image {
    width: 100px; /* adjust this value according to your preference */
    height: auto; /* this ensures the aspect ratio is maintained */
}

section {
   background-color: white;
   color: #333;
   padding: 2rem;
   margin: 1rem 0;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5em;
}

footer {
    background-color: #a6a8d2;
    color: var(--white);
    text-align: center;
    padding: 1em;
}

/* Add CSS media queries for responsiveness */
@media screen and (max-width: 600px) {
    section {
        width: 100%;
        padding: 1em;
    }
}